.delete_time_button{
    border-radius: 0.5rem;
    background-color: #FF8A8A;
    color: black;
    outline: none;
    border: none;
    margin-left: 5px;
    
}
.add_time_button{
    border-radius: 0.5rem;
    background-color: #DBE2EF;
    color: black;
    outline: none;
    border: none;
    margin-left: 5px;
}

.form_container{
    margin-top: 3rem;
    padding: 1rem;
    background-color: #F9F7F7;
    border-radius: 1rem;
}