.main_subjectPage {
    background-color: white;
    position: relative;
    height: 100vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1%;
  }

  .main_subjectPage hr{
    border: 1px solid #3f72af;
    border-radius: 5px;
  }

  .block_tab{
    display: flex;
  }

  .tabs{
    font-family: 'Rubik', sans-serif;
    padding: 15px;
    text-align: center;
    background-color : white;
    color : black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    /* box-sizing: content-box; */
    outline: none;
    cursor: pointer;
  }

  .tabs:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .active-tabs  {
    background: #3f72af;
    color: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-tabs::before {
    display: inline;
    background: white;
  }

  
  .content_container{
    background-color: #3f72af;
    width:100%;
    height: 65vh;
    padding : 3%;
  }

  .drop_down{
    margin: 5px;
  }

  .text{
    text-decoration: none;
  }