.sideBar_section{
    background-color: #112D4E;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.add_room{
    border: none;
    background-color: #112D4E;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    border-radius: 5px;
    line-height: 36px;
    transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.add_room:hover{
    transform: scale(1.2);
}

.room_avatar{
    display: inline-flex;
}

.middle_section{
    background-color: #3f72af;
    height: 100vh;
    padding: 15px 0px 15px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.middle_section ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.middle_section_menus:hover{
    background-color: #3F72AF;
    color: #F9F7F7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.middle_section_menus{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
}

.middle_section_menus.active{
    background-color: #3F72AF;
    color: #F9F7F7;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.item-icon{
    margin-right: 4px;
}

.content_page{
    background-color: #F9F7F7;
    height: 100vh;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1%;
}
