
.exitMark{
    position: absolute;
    top: 0;
    right: 0;
}

.exitMark:hover{
    color: #3f72af;
}

.cardContainer{
    align-items: center;
    padding: 10px;
}

.cardContainer span{
    margin: 0 20px;
}

.DialogTitle{
    text-align: center;
}
.card{
    width: 200px;
    height: 400px;
    background-color: #F9F7F7;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    border-radius: 10px;
    line-height: 36px;
    transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.card:hover{
    transform: scale(1.1);
}

.form_container{
    margin-top: 3rem;
    padding: 1rem;
    background-color: #F9F7F7;
    border-radius: 1rem;
}

.add_time{
    text-align: end;
}